Source: rocm-thunk
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
Standards-Version: 4.7.0
Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://github.com/r-rocm/rocm-thunk
Vcs-Git: https://github.com/r-rocm/rocm-thunk.git

Package: rocm-thunk
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: rocm-thunk
