Source: rocm-thunk
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libnuma-dev,
 libdrm-dev,
 rocm-cmake,
 rocm-core,
 rocm-env,
 rocm-llvm,
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/r-rocm/rocm-thunk
Vcs-Git: https://github.com/r-rocm/rocm-thunk.git

Package: rocm-thunk
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-cmake,
 rocm-core,
 rocm-env,
 rocm-llvm,
Description: ROCt Library
 User-mode API interfaces used to interact with the ROCk driver.
